@CHARSET "ISO-8859-1";
#welcome,#loginform{
	margin: 0 auto;
	border-style:solid;
	border-color:#354841;
	padding:10px 50px 10px 50px; 
	border-radius:10%;
	text-align:center;
	
	
}
a{
	color:white;
	text-decoration:none;
}
html{
	background-image: url(/Media/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#displayblogs{	
	border-radius:5%;
	margin-top:10px;
	margin-left:20px;
	padding:10px;
	border-style:solid;
	border-color:#354841;
	width:300px;
	display: inline-block;
	
}
#bloglink{
	border-radius:15%;
	border-style:none;
	border-color:#484444;
	background-color:#354841;

	padding:10px;
}
#signupform{
	text-align:center;
	color:white;
}
#blogcontent{
	display:inline-block;
	text-align:center;
	width:800px;
}

b{
	color:white;
}
*{
	font-family:sans-serif;
	color:white;
}
.button{
	cursor:pointer;
}
input{
	color:#354841;
}
