.division{
	margin-left:400px; 
	margin-right:400px;
	margin-top:250px;
	margin-bottom:300px; 
	background-color:#A2C1C1;
	 padding-top:10px;
	  padding-bottom:10px;
	  padding-left:10px;
	  padding-right:10px;
}
body{
	background-image: url(/media/background.jpg);
	 background-size: cover 
}
p{
	text-align:center
}